html{
	font-size:100%;
	max-width:100em;
	margin:auto;
	}

body{
	padding:2em;
	font-family: Carme, Helvetica, sans-serif;
	}

article{
    font-size:1.5em; 
    text-align:justify;
    }
    
a:link, a:visited{
	text-decoration:none;
	color:#000000;
	}
a:hover{
	color:#B31B1B;
	transition:color 0.2s ease-in-out;
	}	
	
footer{
	text-align:center;
	}	

img{
	margin:auto;
	width:20em;
    display:block
	}

/* Class Styles */	
#title{
	padding:0.5em;
	font-size:3em;
	text-align:center;
	letter-spacing:0.25em;
	border-bottom:0.05em solid;
	border-bottom-color:#B31B1B;
	text-transform:uppercase;
	font-family:Times New Roman, serif;
	}
	
.menu{
	margin-top:-0.25em;
	font-size:1.5em;
	text-align:center;
	list-style:none;
	letter-spacing:0.1em;
	}
.menu li{
	display:inline-block;
	padding:1em;
	}
.menu li em{
	font-size:0.5em;
	display:block;
	font-family:Georgia, Times New Roman, serif;
	}
	
/* ID styles */

#about{
	padding:3em;
	max-width:50em;
	margin:auto;
	}

/*Animations*/
.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(1);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}				
	80% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(1);
	}		
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(1);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}				
	80% {
		-webkit-transform: scaleX(1);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(1);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}				
	80% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(1);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}				
	80% {
		-webkit-transform: scaleY(1);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}